<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/attendant?autoReconnect=TRUE&amp;useUnicode=true&amp;characterEncoding=UTF-8
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            10diemjava
        </property>

        <property name="hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

        <!-- List of XML mapping files -->
       <mapping class = "pojo.Account" />
       <mapping class = "pojo.Attendant" />
        <mapping class = "pojo.AttendantId" />
        <mapping class = "pojo.CalendarId" />
        <mapping class = "pojo.Calendar" />

        <mapping class = "pojo.ClassId" />
       <mapping class = "pojo.Manager" />
       <mapping class = "pojo.Room"/>
       <mapping class = "pojo.Student" />
       <mapping class = "pojo.Subject" />
       <mapping class = "pojo.Class" />


    </session-factory>
</hibernate-configuration>